.Banner {
    position: relative;
    width: 100%;
    height: 766px;
    background:
        linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url('../../assets/images/banner.png') lightgray 50% / cover no-repeat;

    &__content {
        position: absolute;
        top: 205px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        max-width: 906px;
        width: 100%;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        width: 100%;
        height: 163px;
    }

    &__welcome {
        color: #fff;
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 139%; /* 55.6px */
        letter-spacing: -0.6px;
    }

    &__title {
        color: #fff;
        font-family: Montserrat, sans-serif;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 139%;
        text-align: center;
    }

    &__description {
        color: #fff;
        text-align: center;
        font-family: Lato, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 37px; /* 231.25% */
        letter-spacing: -0.24px;
        text-transform: capitalize;
        max-width: 798px;
        width: 100%;
        height: 162px;
    }

    &__points {
        position: absolute;
        top: 714px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 12px;
        align-items: center;
        width: fit-content;
    }

    &__point {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: white;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            width: 30px;
            border-radius: 100px;
            background-color: var(--main-color);
        }
    }

    &__point--active {
        width: 30px;
        border-radius: 100px;
        background-color: var(--main-color);
    }
}
